<div class="screen"><main>
  <div class="container">
    <div class="title">
      ACF <span class="gradient">THINKS</span>
    </div>
    <div class="acfthinks-content">
      <p class="heading">
        <span class="gradient">Welcome!</span>
      </p>
      <p class="content">
        Thanks for installing ACF Thinks! ACF Thinks blocks <a href="http://www.facebook.com">Facebook</a> and <a href="http://www.youtube">Youtube</a> until you have jotted down your thought for the day on the topic or passage that week.
      </p>
      <p class="subheading">
        <span class="gradient">What does ACF Thinks do?</span>
      </p>
      <p class="content">
        When you load <a href="http://www.facebook.com">Facebook</a> or <a href="http://www.youtube">Youtube</a>, ACF Thinks pops up and encourages you to write down a thought for that day. After you have entered in your thought, ACF Thinks fades away and you can carry on using Facebook and Youtube as per usual.
      </p>
      <p class="subheading">
        <span class="gradient">How do I enter in a thought?</span>
      </p>
      <p class="content">
        To enter in your thought, open up <a href="http://www.facebook.com">Facebook</a> or <a href="http://www.youtube">Youtube</a>, and the pop up will appear. Type your thought in the grey box and press <code>Enter</code> to store your thought. To add new lines in the grey box, press <code>Shift+Enter</code>.
      </p>
      <p class="subheading">
        <span class="gradient">How do I see my previous thoughts?</span>
      </p>
      <p class="content">
        To see your previous thoughts, click on the <img src="../assets/icons/icon16.png"> icon in the main Google Chrome toolbar on the top righthand side.
      </p>
      <p class="subheading">
        <span class="gradient">How do I delete previous thoughts?</span>
      </p>
      <p class="content">
        To delete your previous thoughts, click on the <img src="../assets/icons/icon16.png"> icon in the main Google Chrome toolbar on the top righthand side. You can then delete each thought by clicking the <button class="material-icons">clear</button> button.
      </p>
      <p class="subheading">
        <span class="gradient">How do I delete all my data?</span>
      </p>
      <p class="content">
        To delete all your stored data, click on the <img src="../assets/icons/icon16.png"> icon in the main Google Chrome toolbar on the top righthand side. You can then clear all your data by clicking the <button class="material-icons">delete_sweep</button> button.
      </p>
    </div>
    <div class="footer">
      <ul class="links">
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="https://gitreports.com/issue/acfpcc/acfthinks">Feedback</a></li>
        <li><a href="https://chrome.google.com/webstore/detail/acf-thinks/hokmokipibfffbalbanjojpkopmgpfoc/reviews">Give a Review</a></li>
      </ul>
    </div>
  </div>
</main></div>