<li class="thoughts-item" id="thought-item-<%= id %>">
  <p class="thought"><%= thought %></p>
  <p class="date"><% 
  var m_names = new Array("January", "February", "March", 
"April", "May", "June", "July", "August", "September", 
"October", "November", "December");
var curr_date = date.getDate();
var sup = "";
if (curr_date == 1 || curr_date == 21 || curr_date ==31) {
   sup = "st";
} else if (curr_date == 2 || curr_date == 22) {
   sup = "nd";
} else if (curr_date == 3 || curr_date == 23) {
   sup = "rd";
} else {
   sup = "th";
}
var curr_month = date.getMonth();
var curr_year = date.getFullYear();

print(curr_date + "<SUP>" + sup + "</SUP> " 
+ m_names[curr_month].toUpperCase() + " " + curr_year);
   %></p>
  <button class="delete material-icons" data-thought-id=<%= id %>>delete</button>
</li>