html, body {
  height: 100%;
}

#acfthinks-body {
  font-family: 'Karla', sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(-153deg, #C7CDFF 0%, #96FDB4 100%) !important;
  overflow:auto;
}

div.screen {
  position: relative;
  background: none;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  overflow: auto;
}

main {
  position: relative;
  background: none;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 0px;
  overflow: visible;
}

#inner {
  background: none;
  width: 80%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0px;
  overflow: auto;
  max-height: 80%;
  overflow: visible;
}

main div.acfthinks-content {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px;
  height: 100%;
  overflow: auto;
  padding: 25px 20px;
  font-size: 12pt;
  position: relative;
}

#latest-message {
  font-size: 24pt;
  text-align: center;
  background: none;
}

#thought-prompt {
  font-size: 32pt;
  color: white;
  background: none;
  text-align: center;
}

p.prompt {
  font-size: 32pt;
  text-align: center;
}
p.prompt .gradient {
  background: linear-gradient(-153deg, #47928f 0%, #5d3cb7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.heading {
  font-size: 32pt;
  text-align: center;
  padding-bottom: 32px;
}
p.heading .gradient {
  background: linear-gradient(-153deg, #47928f 0%, #5d3cb7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.subheading {
  font-size: 16pt;
  padding-bottom: 16px;
}
p.subheading .gradient {
  background: linear-gradient(-153deg, #47928f 0%, #5d3cb7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.content {
  padding-bottom: 24px;
}

#thought-prompt #thought-bar {
  width: 100%;
  font-size: 32pt;
  padding: 0.5em 0.2em;
  margin: 0.2em 0 1em 0;
  box-sizing: border-box;
  background: linear-gradient(30deg, rgba(255,255,255,0.3), rgba(255,255,255,0.6), rgba(255,255,255,0.2));
  border: none;
  margin-top: 20px;
  color: #5F5F5F;
  box-shadow: 1px 1px 30px rgba(255,255,255,.1);
  text-align: center;
  outline: none;
  resize: none;
}

#thought-prompt #thought-bar.submitted {
  background: none;
  box-shadow: none;
}

.title {
  text-align: center;
  font-size: 40pt;
  font-family: 'Josefin Sans';
  min-width: 400px;
  width: 100%;
}
.title span.gradient {
  background: linear-gradient(-153deg, #ff6565 0%, #9d3cff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title:after{
  content: "beta";
  display: inline-block;
  font-size: 22px;
  font-family: 'Indie Flower';
  color: #fff;
  -ms-transform:rotate(-25deg);
  -webkit-transform:rotate(-25deg);
  transform:rotate(-25deg);
  transform-origin: 90% 250%;
}

.thoughts {
  list-style-type: none;
  position: relative;
  padding: 0;
}
.thoughts:empty::after{
  content: attr(data-empty-message);
  display: block;
  text-align: center;
  color: #c0c0c0;
  font-size: 12pt;
  text-transform: uppercase;
}
.thoughts .thoughts-item {
  position: relative;
  padding-bottom: 10px;
}
.thoughts .thoughts-item .thought {
  font-size: 16pt;
  margin-right: 100px;
  word-wrap: break-word;
}
.thoughts .thoughts-item .thought.editable {
  outline: none;
  background: linear-gradient(30deg, rgba(255,255,255,0.3), rgba(255,255,255,0.6), rgba(255,255,255,0.2));
  box-shadow: 1px 1px 30px rgba(255,255,255,.1);
}
.thoughts .thoughts-item .date {
  color: #909090;
}

.buttons {
  display: inline-block;
  float: right;
  margin:5px 12px 0 0;
  position: absolute;
  top: 0;
  right: 0;
}

.buttons button {
  outline: none;
}

button {
  background: none;
  border: none;
}

div.container {
  margin: 50px 0px;
}

a {
  text-decoration: none;
  color: #555555;
}

a:hover {
  color: #777777;
}

.footer ul.links {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.footer ul.links li {
  padding: 0px 5px;
  display: inline;
  text-align: center;
  font-size: 12pt;
  text-transform: uppercase;
  font-weight: 900;
}

#pong {
  position: absolute;
  left: 0;
  top: 0;
}